body{
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 20px;
}
footer{
    width: 100%;
}
.Ubuntu{
    font-family: Ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    padding: 0;
    margin: 0;
}
.Nunito{
    color: #012440;
font-family: Nunito Sans;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
}
.fz-36{
    color: var(--dark-blue, #012440);
font-family: Ubuntu;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-16{
    font-size: 16px;
}
.fz-18{
    font-size: 18px;
}
.fz-24{
    font-size: 24px;
}
.fz-40{
    font-size: 40px;
}
.fz-48{
    font-size: 48px;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
.merg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 11%;
    align-items: center;
    margin: 4% 0 2% 0;
    width: auto;
}
.merg_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 11% 2% 11%;
    width: auto;
}
p{
    margin: 0;
    color: var(--dark-blue, #012440);
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.gray{
    color: var(--gray, #808080);
}
.blue{
    color: var(--dark-blue, #012440);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo p{
    color: var(--dark-blue, #012440);
    text-align: center;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;display: flex;
    width: 106.658px;
    height: 23px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 100px;
}
li{
    display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
width: auto;
}
a{
    text-decoration: none;
    color: var(--dark-blue, #012440);
    text-align: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.hot_number{
    display: flex;
    flex-direction: row;
    gap: 10%;
    width: auto;
}
.hot_number_text h1{
    color: var(--dark-blue, #012440);
text-align: center;
font-family: Ubuntu;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0;
}
.hn_text{
    color: var(--dark-blue, #012440);
    text-align: center;
    font-family: Nunito Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 11%;
    align-items: center;
    text-align: center;
    background: var(--blue, #C1E8FF);
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    position: relative;
    z-index: 100;
}
.header_site{
    background: linear-gradient(180deg, #C1E8FF 27.19%, rgba(217, 217, 217, 0.00) 100%);
}
body .bg{
    width: 100%;
    height: 650px;
    flex-shrink: 0;
    position: absolute;
    z-index: -2;
}
.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#C1E8FF, #FFFFFF00);
    z-index: -1;
}
.detail{
    color: var(--dark-blue, #012440);
font-family: Nunito Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: row;
}
.head_title{
    color: rgba(2, 69, 122, 0.90);
font-family: Ubuntu;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.title{
    padding: 0 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 523px;
    gap: 20px;
}
.detail::after{
    content: url('img/arrow.svg');
    display: inline-block;
    margin-left: 5px;
}
.rectangle{
    width: 75%; 
    height: 127px; 
    background-color: var(--gray, #FFF); 
}
.rectangle_search{
    width: 12%; 
    height: 127px; 
    background-color: var(--yellow, #FFC701); 
    display: flex;
    flex-direction: column;
    padding: 2.15% 0 0 2%;
    gap: 20%
}
.btn{
    padding: 0;
    border: 0;
    text-align: left;
}
.btn_text{
    color: var(--dark-blue, #012440);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.search{
    display: flex;
    flex-direction: row;
}
.text_srch{
    display: flex;
    flex-direction: row;
    padding: 3% 0 0 15%;
    justify-content: space-between;
    align-items: center;
}
.text_srch label{
    display: flex;
    align-items: center;
}
select, input{
    border: none;
    margin: 10% 5%;
    color: var(--dark-blue, #012440);
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
fieldset{
    width: 250px;
}
.col-6 .img_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #EEEEEE;
    font-weight: bold;
    z-index: 2;
    left:18%;
    top: 83%;
}
.col .img_text{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #EEEEEE;
    font-weight: bold;
    z-index: 2;
    left:35%;
    top: 83%;
}
.col-6, .col{
    position: relative;
    display: inline-block;
    z-index: 0;
    gap: 5%;
}
.white{
    color: #EEEEEE;
}
.col-6 .gradient{
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 1;
    width: 593px;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}
.col .gradient{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 1;
    width: 263px;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
}
.container{
    display: grid;
    grid-row-gap: 8%;
}
.card{
    border-radius: 5px;
    border: 2px solid rgb(1, 36, 64, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}
.hotel img{
    border-radius: 5px;
    width: 100%;
}
.fz-20{
    font-size: 20px;
}
.yellow{
    font-weight: 900;
    color: var(--yellow, #FFC701);
}
.cards{
    padding: 0 11%;
}
.hots{
    margin-top: 6%;
}
.place{
    display: block;
    border-radius: 5px;
    width: 52%;
    padding: 3% 0;
    height: auto;
    text-align: center;
    align-items: center;
    background-color: #01244080;
    position: relative;
    bottom: 17%;
}
.place_name{
    color: #EEEEEE;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.hotel{
    height: 200px;
}
.title_hotel{
    margin-top: 7%;
}
.fz-64{
    font-size: 64px;
}
.img_text_container {
    position: relative;
    align-items: center;
    display: flex;
}
.w::before {
    content: ''; 
    display: inline-block;
    background: url('img/w1.svg') no-repeat; 
    width: 28px; 
    height: 28px; 
    padding-right: 14%;
}
.m::before {
    content: ''; 
    display: inline-block;
    background: url('img/w2.svg') no-repeat; 
    width: 28px; 
    height: 28px; 
    padding-right: 14%;
}
.feedback{
    background: var(--gray, #FFF);
    height: auto;
}
.next_brd{
    border: 1px solid rgba(62, 138, 215, 0.50);
    padding: 5px 6px 6px 10px;
}
.next_brd_1{
    border: 2px solid rgba(62, 138, 215, 0.50);
    padding: 5px 10px 5px 5px ;
}
.review_text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2%;
}
.arrows{
    margin-top: 5%;
    height: 100%;
}
.review{
    background-color: rgba(193, 232, 255, 0.75);
    padding: 5% 0 4% 0;
}
.feedback{
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 378px;
}
.order_btn{
    display: inline-flex;
height: 60px;
padding: 31px 18px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border: 1px solid rgba(1, 36, 64, 0.50);
background-color: none;
}
.order{
    background: rgba(193, 232, 255, 0.75);
}
.yellow_bg{
    background-color: var(--yellow, #FFC701);
}
.order_btn{
    display: inline-flex;
height: 60px;
padding: 31px 18px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
background-color: var(--yellow, #FFC701);
}
.footer_logo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 25%;
}
.footer_link{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(193, 232, 255, 0.75);
}
.row_1{
    justify-content: center;
}
.search_tour{
    background: var(--blue, #C1E8FF);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 20% 2% 20%;
    width: auto;
    margin-top: 2%;
}
.tour_title{
    padding: 2% 20% 2% 20%;
}
.rect_white{
    background: var(--gray, #FFF);
    border-radius: 15px 0 0 15px;
    width: 80%;
    padding: 1.4%;
}
.rect_yellow{
    border-radius: 0px 15px 15px 0px;
background: var(--yellow, #FFC701);
    width: 25%;
    padding: 1.8%;
}
.background{
    background: var(--blue, #C1E8FF);
}
.cards_tour{
    display: flex;
    flex-direction: column;
}
.card_tour{
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(1, 36, 64, 0.1);
    display: flex;
    flex-direction: row;
    padding: 2%;
    align-items: center;
}
.hotel_tour img{
    border-radius: 5px;
    width: 100%;
}
.linia{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    width: 100%;
}
.info_card{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.left{
    justify-content: space-evenly;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 25%;
}
.cards_tour{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.btn_more{
    border-radius: 50px;
    border: 1px solid rgba(255, 199, 1, 0.50);
    padding: 2% 5%;
    background: #FFF;
}
.mb{
    margin-bottom: 4%;
}
.navig{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 1% 10% 1% 11%;
    width: auto;
    padding: 0%;
    gap: 1%;
}
.img_clock::before {
    content: url('img/clock.svg'); 
    display: inline-block;
    width: 14px; 
    height: 14px;
    margin-right: 10px; 
}
.banner {
    position: relative;
    display: inline-block;
    width: 100%;
}
.banner img {
    display: block;
    width: 100%;
    height: auto;
}
.img_text {
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 2; 
}
.text_pak{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2% 18% 1% 18%;
    padding: 0%;
    gap: 2%;
}
.bag{
    width: 730px;
height: 455px;
flex-shrink: 0;
}
.bag_cont{
justify-content: center;
margin-top: 2%;
display: flex;
flex-direction: column;
}
.podpis_bag{
    width: 95%;
    gap: 1%;
    justify-content: left;
    margin: 1%;
    display: flex;
    flex-direction: row;
}
.quote{
    padding: 2% 18%;
    justify-content: center;
    
}
.date{
    display: flex;
    flex-direction: row;
    gap: 0.25%;    
    padding: 0%;
    gap: 5%;
}
.bg_white{
    background-color: white;
}
.podpis{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 0;
    align-items: flex-end;
    margin: 0 18% 2% 18%;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
gap: 35px;
border: 1px solid #01244040;
padding: 3% 1%;
width: 250px;
}
.box_text{
    width: 80%;
    text-align: center;
}
.img_text_1{
    position: absolute;
transform: translate(-50%, -50%);
font-size: 24px;
color: #EEEEEE;
font-weight: bold;
z-index: 2;
left: 37%;
top: 83%;
}
.left_email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4% 11% 2% 11%;
    width: auto;
    background: rgba(193, 232, 255, 0.75);
}
.email{
    width: 100%;
}
.text_email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_email p{
    width: 70%;
}
.text_email h1{
    width: 80%;
}
.advice{
    border: 2px solid var(--blue, #C1E8FF);
background: var(--gray, #FFF);
padding: 6% 8%;
display: flex;
flex-direction: column;
justify-content: left;
height: 100%;
}
.height{
    height: 100%;
}
.about_text{
    gap: 3%;
}
.about_text .d-flex{
    justify-content: center;
    height: 100%;
}
.about_text p, .feedback p{
    text-align: justify;
}
.director_text{
    display: flex ;
    flex-direction: row;
    gap: 1%;
}
.year{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    justify-content: center;
}
.year p{
    text-align:center;
    width: 65%;
}
.partners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rect_white input{
    margin: 0;
}